@model Mordor_Simple.Models.Horde

@{
    ViewBag.Title = "Horde details";
}

<h2>Horde details</h2>

<div>
    <h4>@Html.DisplayFor(model => model.Name)</h4>
    <dl class="dl-horizontal">
        
        <table class="table">
            <tr>
                <th>
                    Name
                </th>
                <th>
                    Kill Count
                </th>
                <th>
                    Horde
                </th>
                <th>
                    Race
                </th>
                <th>
                    Weapon
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model.Orcs)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.KillCount)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Horde.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Race.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Weapon.Name)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.OrcId }) |
                        @Html.ActionLink("Details", "Details", new { id = item.OrcId }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.OrcId })
                    </td>
                </tr>
            }
            </table>
    </dl>
</div>

    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.HordeId }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
